@using DxcAlloy
@model PageViewModel<DxcAlloy.Models.Pages.StartPage>
<div class="alert alert-success">Changed</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })
