<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EPiServerDB"
         connectionString="Server=tcp:dxcalloy-sql-rd.database.windows.net,1433;Initial Catalog=DxAlloy_EPiServerDB;Persist Security Info=False;User ID=dxcadmin;Password=Pa$$w0rd;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <episerver.framework>
    <blob defaultProvider="azureblobs" xdt:Transform="Insert">
      <providers>
        <add name="azureblobs" container="dxcalloy-assets"
             type="EPiServer.Azure.Blobs.AzureBlobProvider,EPiServer.Azure"
             connectionStringName="EPiServerAzureBlobs" />
      </providers>
    </blob>
    <event defaultProvider="azureevents" xdt:Transform="Insert">
      <providers>
        <add name="azureevents" topic="DxcAlloyEvents"
             type="EPiServer.Azure.Events.AzureEventProvider,EPiServer.Azure"
             connectionStringName="EPiServerAzureEvents" />
      </providers>
    </event>
  </episerver.framework>
 </configuration>